<header class="overlay">
    <img src="../../assets/img/logo.png" alt="Videoflix logo">
    <button (click)="back()"><img src="../../assets/img/arrow_back.svg"
            alt="go back"></button>
</header>
<div *ngIf="video">
    <app-vjs-player [options]="{sources: [{src: videoService.videosBaseUrl + video.src}], autoplay: 'muted', fluid: true}" type="small-preview"></app-vjs-player>
    <div class="overlay">
        <h2>{{video.title}}</h2>
        <p>{{video.description}}
        </p>
        <a class="btn-primary" [routerLink]="'/watch/'+video.id">Play</a>
    </div>
</div>