<app-full-bg-image-container bgImgSrc="../../assets/img/login-bg.jpeg">
    <form (ngSubmit)="resetPassword()">
        <h2>Reset password</h2>
        <div class="form-control">
            <p style="color: black;">Create a new password for your <span style="color: hsl(var(--primary))">Videoflix</span> account.</p>
            <input type="password" placeholder="Enter a password" #password="ngModel" [(ngModel)]="formData.password" required
                name="password" (input)="this.formErrors.password=[]">
            <div class="error">
                <p *ngFor="let error of formErrors.password">
                    {{error}}
                </p>
                <p *ngIf="password.errors?.['required'] && password.touched">This field is required.</p>
            </div>
        </div>
        <div class="form-control">
            <input type="password" placeholder="Confirm password" #password="ngModel" #passwordConfirm="ngModel"
                [(ngModel)]="formData.passwordConfirm" required name="passwordConfirm">
            <div *ngIf="passwordConfirm.touched" class="error">
                <p *ngIf="password.value != passwordConfirm.value">Passwords must match</p>
                <p *ngIf="passwordConfirm.errors?.['required']">This field is required.</p>
                <p *ngFor="let error of formErrors.errors">
                    {{error}}
                </p>
            </div>
        </div>
        <button type="submit" class="btn-primary"
            [disabled]="password.invalid || passwordConfirm.invalid || password.value != passwordConfirm.value">Reset my
            password</button>
    </form>
</app-full-bg-image-container>