<div class="host" [style.background-image]="'url('+bgImgSrc+')'">
    <header>
        <img class="bp-medium" src="../../assets/img/logo.png" alt="Videoflix logo">
        <img class="bp-small" src="../../assets/img/logo-sm.png" alt="Videoflix logo" width="32">
        <a *ngIf="showLoginBtn" class="btn-primary" routerLink="/login">Log in</a>
    </header>
    <main>
        <ng-content></ng-content>
    </main>
    <footer>
        <a routerLink="/privacy">Privacy</a>
        <a routerLink="/imprint" [queryParams]="{back: getBackParam()}">Imprint</a>
    </footer>
</div>