<header><img src="../../assets/img/logo.png" alt="Videoflix logo"><button><img src="../../assets/img/arrow_back.svg"
            alt="go back"></button></header>
<main>
    <h2>Imprint</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dignissimos repellendus in, aut nostrum error rerum harum assumenda voluptatum, cum eveniet similique quisquam doloremque enim delectus quas quis corrupti. Numquam maiores, praesentium, autem animi ut nihil ipsum quam nulla libero ab voluptatibus natus corporis corrupti tempora debitis provident iure sequi! Corporis libero delectus cumque ipsa tempore cum officiis animi porro similique a quasi odit assumenda in dolor distinctio perspiciatis, voluptatem adipisci ea. Aut totam tempore officia sunt doloremque dolore, facere unde! Eaque, ipsum, modi labore in corrupti delectus at libero natus nihil commodi soluta, laborum corporis nisi? Expedita, iusto id!</p>
    <h2>Privacy</h2>
</main>