<app-full-bg-image-container bgImgSrc="../../assets/img/login-bg.jpeg">
    <form (ngSubmit)="requestPasswordReset()">
        <h2>Forgot your password?</h2>
        <div class="form-control">
            <input #email="ngModel" type="email" placeholder="Email Address" name="email" required email
                [(ngModel)]="formData.email" (input)="checkEmail()">
            <div class="error">
                <p *ngFor="let error of formErrors.email">
                    {{error}}
                </p>
                <p *ngIf="email.errors?.['email'] && email.touched">Enter a valid email address.</p>
                <p *ngIf="email.errors?.['required'] && email.touched">This field is required.</p>
            </div>
        </div>
        <button type="submit" class="btn-primary" [disabled]="!emailIsValid">Send Email</button>
    </form>
</app-full-bg-image-container>
<app-notification></app-notification>