<app-full-bg-image-container bgImgSrc="../../assets/img/home-bg.jpeg">
    <p style="font-size: var(--fs-900);">Movies, TV shows, and more</p>
    <p style="font-size: var(--fs-700);">Watch whenever you want wherever you want</p>
    <p>Enter your email to create or restart your subscription.</p>
    <form>
        <input #email type="email" placeholder="Email Address" name="email" required>
        <a routerLink="signup" class="btn-primary" (onclick)="auth.newUserEmailAddress = email.value">Sign Up</a>
    </form>
</app-full-bg-image-container>