<header>
    <img src="../../assets/img/logo.png" alt="Videoflix logo">
    <a class="btn-primary" routerLink="/logout">Log out</a>
</header>
<div class="featured-video" *ngIf="featuredVideo">
    <app-vjs-player [options]="{fluid: true, autoplay: false, 
    sources: [{src: featuredVideo.src, type: 'application/x-mpegURL'}]}">
    </app-vjs-player>
    <div class="overlay">
        <h2>{{featuredVideo.title}}</h2>
        <p>{{featuredVideo.description}}
        </p>
        <a class="btn-primary" [routerLink]="'/watch/'+featuredVideo.id">Play</a>
    </div>
</div>
<section *ngFor="let category of categories">
    <h2>{{category}}</h2>
    <ul>
        <li *ngFor="let video of getVideosByCategory(category)" [title]="video.title"
            [class.selected]="isSelected(category, video.id)" (mouseleave)="setVideoPreview($event)"
            (mouseenter)="setVideoPreview($event, video, category)">
            <div class="preview-video">
                <app-vjs-player *ngIf="isSelected(category, video.id);else poster"
                    [options]="{fluid: true, autoplay: 'muted', sources: [{src: video.src, type: 'application/x-mpegURL'}]}">
                </app-vjs-player>
                <div class="preview-overlay" *ngIf="isSelected(category, video.id)">
                    <a [routerLink]="'/watch/'+video.id" class="btn-primary">Play</a>
                </div>
            </div>
            <ng-template #poster>
                <img [src]="video.poster" [alt]="video.title" width="250px" height="140.625px">
            </ng-template>
        </li>
    </ul>
</section>