<header class="overlay">
    <img class="bp-medium" src="../../assets/img/logo.png" alt="Videoflix logo">
    <img class="bp-small" src="../../assets/img/logo-sm.png" alt="Videoflix logo" width="32">
    <a class="btn-primary" routerLink="/login" (click)="auth.logout()">Log out</a>
</header>
<div class="featured-video" *ngIf="featuredVideo">
    <app-vjs-player [options]="{sources:[{src: videoService.videosBaseUrl + featuredVideo.src}], autoplay: 'muted', fluid: true}"
        type="large-preview"></app-vjs-player>
    <div class="controls-overlay">
        <h2>{{featuredVideo.title}}</h2>
        <p class="bp-medium">{{featuredVideo.description}}
        </p>
        <a class="btn-primary" [routerLink]="getVideoLinkSegment()+featuredVideo.id">Play</a>
    </div>
</div>
<section *ngFor="let category of categories">
    <h2>{{category}}</h2>
    <ul>
        <li *ngFor="let video of getVideosByCategory(category)" [title]="video.title"
            [class.selected]="isSelected(category, video.id)" (mouseleave)="setVideoPreview($event)"
            (mouseenter)="setVideoPreview($event, video, category)">
            <div class="preview-video">
                <app-vjs-player *ngIf="isSelected(category, video.id);else poster"
                    [options]="{sources:[{src: videoService.videosBaseUrl + video.src}], autoplay: 'muted', fluid: true}"
                    type="small-preview"></app-vjs-player>
                <div class="preview-overlay" *ngIf="isSelected(category, video.id)">
                    <a [routerLink]="getVideoLinkSegment()+video.id" class="btn-primary">Play</a>
                </div>
            </div>
            <ng-template #poster>
                <a [routerLink]="getVideoLinkSegment()+video.id">
                    <img [src]="posterBaseUrl + video.poster" [alt]="video.title" width="250px" height="140.625px">
                </a>
            </ng-template>
        </li>
    </ul>
</section>