section {
    margin-block: 2em;
    padding-inline: var(--global-padding-inline);

    ul {
        overflow-x: auto;
    }
}

h2 {
    font-size: var(--fs-600);
}

.featured-video {
    position: relative;
}

.preview-video {
    position: relative;
    height: 100%;
}

.controls-overlay {
    position: absolute;
    left: 5%;
    bottom: 10%;
    width: 90%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    border-radius: 0.5em;
}

.preview-overlay {
    position: absolute;
    left: 5%;
    top: 50%;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2em;

    li {
        padding: 0;

        img {
            object-fit: cover;
        }
    }

}

.selected {
    width: 500px;
}